body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #5D3FD3;
}

h3 {
    color: #333;
}

.playlist-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#yearSlider {
    width: 100%;
}

#yearLabel {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.add-song {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.add-song input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #5D3FD3;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4b2f9e;
}

.playlist ul {
    list-style-type: none;
    padding: 0;
}

.playlist li {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.playlist li .song-info {
    font-size: 0.9em;
    color: #555;
}
.delete-btn {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: #e03d3d;
}
